/*----------------------------------------
Name: global.css
Developed by: liyi
Date Created:
Last Updated:
Copyright:
----------------------------------------*/

/* Imports
----------------------------------------*/
@import url("reset.css");
@import url("jquery-ui.css");
@import url("jquery-combo.css");


/* Global
----------------------------------------*/
html, body {
	vertical-align: top;
	text-align: left;
	height: 100%;
	color: #003399; 
	font-family: tahoma, arial, verdana, sans-serif;
	font-size: 12px;
}


/* Layout Div elements
----------------------------------------*/
.ui-layout-pane-east { /* east panes */ 
	overflow: auto;
}

.ui-layout-toggler {
	background: transparent url(../img/web/toggle.png) center no-repeat;
	border-bottom: 1px solid #aaaaaa;
	border-top: 1px solid #aaaaaa;
}

.ui-layout-toggler-closed { 
	border-right: 1px solid #aaaaaa;
}


/*--- Login divs ---*/
#center-div {
	top: 50%; 
	left: 50%; 
	position: absolute;
	text-align: center;
}

#login-title {
	font-family: Lucida Sans Unicode, tahoma, arial, verdana, sans-serif;
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
	font-size: 14px
}


/*--- Header divs ---*/
#header {
	font-family: Microsoft YaHei, tahoma, arial, sans-serif;	
	background: url(../img/web/header-bg.gif) repeat-x top left;
	width: 100%;
	height: 108px;
}

#banner {
	font-weight: bold;
	padding: 20px 25px 0 0;
	text-align: right; 
}

/*--- nav ---*/
#nav {
	height: 33px; 
	margin: 0; 
	padding-left: 0; 
	top: 75px;
	position: absolute; 
	vertical-align: middle; 
	background-image: url(../img/web/ui-nav_sprite_33x66.png);
	background-position: 0 0;
	width: 100%; 
}

#nav li {
	float: left; 
	list-style-type: none;
}

#nav li.navitem:hover {
	height: 33px; 
	background-image: url(../img/web/ui-nav_sprite_33x66.png);
	background-position: 0 -33px;
}

#nav li a:link, #nav li a:visited, #nav li a:hover, #nav li a:active {
	color: #ffffff;
	text-decoration: none;	
	display: block; 
	height: 33px; 
	line-height: 33px;
	margin-top: 1px;
	padding: 0 13px;
	font-size: 13px; 	
}

#nav .subnav {
	top: 33px; 
	position: absolute; 
	background: url(../img/web/ui-bg-nav_subnav_1x300.png) repeat-x bottom left; 
	padding: 6px 0 10px 10px;
	z-index: 99;
}

#nav .subnav .menu {
	float: left;	
	margin-right: 10px; 
	padding: 0; 
	width: 125px;
}

#nav .subnav .menu li {
	float: none; 
	background-image: none;
}

#nav .subnav .menu li a {
	font-size: 11px; 
	font-weight: normal; 
	line-height: 1.3; 
	color: #ffffff; 
	padding: 5px 6px 4px 6px; 
	height: 100%;
	text-decoration: none; 		
}

#nav .subnav .menu li a:link, #nav .subnav .menu li a:visited {
	background-color: transparent;		
}

#nav .subnav .menu li a:hover {
	background-color: #1b3962;
}

#nav .subnav .menu li a:active {
	background-color: transparent;	
}

#nav li .subnav {
	display: none;
}

#nav li:hover .subnav {
	display: block;
}


/*--- Sider divs ---*/
#sider {
	width: 200px;
	font-size: 12px;	
	line-height: 1.3;
	padding: 0 0 2px 0px;
	height: 100%;
	padding-left: 10px;
}

#accordion {
}


/*--- Container divs ---*/
#container {
	font-size: 12px;
	line-height: 1.3;
	width: 100%;
	padding-right: 10px;
}

#upper {
	font-family: Lucida Sans Unicode, tahoma, arial, verdana, sans-serif;
}

#upper-left {
	font-size: 14px;
	height: 38px;
	line-height: 38px;
	vertical-align: middle;
    background-color: #E7F5FF;
    color: #2e6e9e;
    padding: 0 20px;
}

#upper-main {
}
	
#mainer {
	overflow: auto;
    background-color: #f4f8fe;
    border-left: 1px solid #a6c9e2 ;
    border-right: 1px solid #a6c9e2;
    border-top: 1px solid #c1dad7;
    border-bottom: 1px solid #c1dad7;
}

#search {
    background-color: #f4f8fe;
    border: 1px solid #c1dad7;
}

#downer {
}


/*--- footer ---*/
#footer {
	width: 100%;
	background: url(../img/web/footer.gif) repeat-x top left;
	height: 40px;	
	line-height: 40px;
	vertical-align: middle;
}

#footer *{
	color: #555555;
	text-decoration:none;
}

#footer ul {	
	font-size: 11px;
	padding-left: 20px;
	float: left;	
}

#footer ul li {
	display: inline;	
	padding-right: 15px;
	
}

#copyright {
	padding-right: 20px;
	clear: none;
	float: right;
	color: #427ea8;
	font-size: 11px;
	font-weight: bold;
}


/* Form
------------------------------------------*/
INPUT[type="text"], INPUT[type="password"], SELECT, TEXTAREA {
	background-color: #fefefe;
    border-left: 1px solid #999999;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #E6E6E6;
    border-right: 1px solid #E6E6E6;	
	font-family: tahoma, verdana;
	font-size: 11px;
	vertical-align: middle;
}

/*** INPUT ***/
INPUT.text {
    height: 19px;
    line-height: 15px;
    width: 199px;
    padding: 4px 5px 0 5px;
}

INPUT.para {
    height: 19px;
    line-height: 15px;
    width: 149px;
    padding: 4px 5px 0 5px;
}

/*** SELECT  ***/
SELECT {
    height: 25px;
    padding: 3px 2px;
	position: relative;
}

SELECT.slct {
	width: 211px;
}

SELECT.para {
	width: 161px;
}

OPTION {
	width: auto;
	padding: 2px;
}

/*** TEXTAREA ***/
TEXTAREA {
	line-height: 1.5;	
    padding: 4px;
    width: 360px;
    height: 80px;
}

DIV.ckarea {
	width: 368px;
	height: 100px; 
	overflow: auto; 
	background-color: #fefefe;
    border-left: 1px solid #999999;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #E6E6E6;
    border-right: 1px solid #E6E6E6;	
	font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
	font-size: 11px;
	color: #333333; 	
}

/*** CHECKBOX ***/
INPUT.ckbox {
	padding-rigt: 3;
	margin-rigth: 3;
}

INPUT.multck {
	margin: 0px 10px 2px 2px;
	height: 18px;
	line-height: 16px;
	vertical-align: middle;
}

/* Button
------------------------------------------*/
INPUT.bttn, INPUT[type="button"], INPUT[type="submit"], INPUT[type="reset"], BUTTON {
	font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
	font-size: 11px;
	outline: none; 
	margin-right: 5px; 
	padding: .4em 1.8em; 
	text-decoration: none !important; 
	cursor: pointer; 
	/*position: relative;*/ 
	text-align: center;
	vertical-align: middle;
	zoom: 1;
}

INPUT.navbttn {
	font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
	font-size: 12px;
	outline: none;
	margin-right: 5px;
	padding: 2px 1em; 
	text-decoration: none !important; 
	cursor: pointer; 
	text-align: center;
	vertical-align: middle; 
	zoom: 1;
}

INPUT[disabled] {
	cursor: default;
	color: gray;
	opacity: .7;
	-moz-opacity: .7;
}

.button {
	outline: 0;
	margin:0 5px -10px 0; 
	padding: .4em 1em; 
	text-decoration: none !important; 
	cursor: pointer; 
	position: relative; 
	text-align: center; 
	zoom: 1; 	
}

.button span.ui-icon { 
	position: absolute; 
	top: 50%; 
	margin-top: -8px; 
	left: 50%; 
	margin-left: -8px;
}

.button-icon-solo { 
	display: block; 
	width: 8px; 
	height: 16px; 
	text-indent: -9999px; 
}

<!--[if IE 7]>
INPUT.bttn, INPUT[type="button"], INPUT[type="submit"], INPUT[type="reset"], BUTTON, .button {
	padding: 4px 10px 2px 10px;
}
<![endif]-->

/* Lable
------------------------------------------*/
LABEL.caption {
	position: relative;
	font-weight: bold;
	height: 25px;
	line-height: 25px;
	vertical-align: middle;
	padding: 0 .5em;
	white-space: nowrap;
}

LABEL.ck {
	height: 20px;
	line-height: 16px;
	vertical-align: middle;
	padding: 0 .5em;
	white-space: nowrap;
}


/* Table
----------------------------------------*/
TABLE {
	font-family: tahoma, verdana, Arial, sans-serif;
	font-size: 11px;
	width: 100%;		
}

/*** data table ***/
TABLE.data {
	table-layout: fixed;
    width: 100%;
}

TABLE.data TH {
	font-family: Segoe UI, Lucida Grande, tahoma, arial, sans-serif;
    background-color: #427191;
    color: #FFFFFF;
    border-left: 1px solid #6f95af;
    border-bottom: 1px solid #c1dad7;
    text-align: left;
    font-weight: normal;
    padding-left: 5px;
    height: 30px;
    vertical-align: middle;
}

TABLE.data A:link, TABLE.data A:visited {
    text-decoration: none;
	color: #f1f1f1;
	outline: none; 
}
TABLE.data A:hover {
    text-decoration: underline;
	outline: none; 
    color: #ffffff;
}
TABLE.data A:active {
    text-decoration: none;
	color: #f1f1f1;
	outline: none; 
}

TABLE.data TH.sortable {
    font-weight: bold;
    background-image: url( ../img/web/th_sort.png );
    background-position: right center;
    background-repeat: no-repeat;    
}

TABLE.data TH.sorted {
    background-color: #427da8;
}

TABLE.data TH.sort-asc {
    background-image: url( ../img/web/th_sort_asc.png );
    background-position: right center;
    background-repeat: no-repeat;
}

TABLE.data TH.sort-desc {
    background-image: url( ../img/web/th_sort_desc.png );
    background-position: right center;
    background-repeat: no-repeat;
}

TABLE.data TH.left {
    border-left: none;
}

TABLE.data TH.right {
    border-right: none;
}

TABLE.data TR.odd {
    background-color: #f4f9ff;
}

TABLE.data TR.even {
    background-color: #fafafa;    
}

TABLE.data TR.hover {
    background-color: #d0ebff;
}

TABLE.data TR.fix {
    background-color: #fef6d8;
}

TABLE.data TR.fix TD {
    color: #000066;
}

TABLE.data TD {
	overflow: hidden; 
	white-space: nowrap;
	text-overflow: ellipsis; 			/* for IE */ 
	-o-text-overflow: ellipsis; 		/* for Opera */ 
	-icab-text-overflow: ellipsis; 		/* for iCab */ 
	-khtml-text-overflow: ellipsis; 	/* for Konqueror Safari */ 
	-moz-text-overflow: ellipsis; 		/* for Firefox,mozilla */ 
	-webkit-text-overflow: ellipsis; 	/* for Safari,Swift*/ 	
    height: 28px;
    line-height: 28px;
    vertical-align: middle;
	color: #333333;
    padding: 0 5px;
    border-left: 1px solid #c1dad7;
    border-bottom: 1px solid #c1dad7;
}

TABLE.data TD.left {
	border-left: none;
}

TABLE.data TD.right {
	border-right: none;
}


/*** datanav table ***/
TABLE.datanav {
	font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
    color: #2e6e9e;
    width: 100%;
}

TABLE.datanav TH {
    background-color: #dfeffc;
    text-align: center;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
	border-bottom: 1px solid #c1dad7;
}

TABLE.datanav TD {
    color: #2e6e9e;
    padding: 0 5px;
}

/*** btn table ***/
TABLE.btnbar {
	font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
	height: 38px;
	line-height: 35px;
	vertical-align: middle;
    background-color: #f4f8fe;
}

TABLE.btnbar TD {
    color: #2e6e9e;
    padding: 0 7px;
}


/*** form table ***/
TABLE.form {
    background-color: #f2faff;
    width: 100%;
	border-bottom: 1px solid #c1dad7;
}

TABLE.form TD {
    padding: 7px 10px;
    height: 30px;
    line-height: 26px;
    vertical-align: middle;
}

TABLE.form TD.f {
	height: 20px;
    text-align: right;
    color: #003189;
    background-color: #E7F5FF;
}

TABLE.form TD.s {
	padding: 0;
	height: 13px;
    background-color: #E7F5FF;
}

TABLE.form TD.df {
	font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
    font-weight: bold;   	
    text-align: right;
    color: #003189;
    background-color: #E7F5FF;
}

TABLE.form TD.keyf {
	font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
	font-weight: bold;   	
    text-align: right;
    color: #CC0000;
    background-color: #E7F5FF;
}

/*** detail table ***/
TABLE.detail {
    background-color: #F2FAFF;
	width: 760px;
}

TABLE.detail TD {
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
}

TABLE.detail TD.f {
	height: 20px;
	width: 30%;
    text-align: right;
    background-color: #e7f5ff;
}

TABLE.detail TD.keyf {
	font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
	font-weight: bold;	
	width: 30%;	
    text-align: right;
    color: #003189;
    background-color: #e7f5ff;
}


/*** login table ***/
TABLE.login {
	font-family: Segoe UI, tahoma, arial, sans-serif;
	font-size: 12px;	
	width: 320px; 
	height: 120px;
	margin: 25px 40px;
}
	
TABLE.login TD {
	height: 25px;
	line-height: 25px;
	vertical-align: middle;
	text-align: right;
	padding: 8px;
}
	
TABLE.login TD.left {
	text-align: left;
}

TABLE.login TD.bottom {
	padding-right: 30px;
}

/*  A 
--------------------------------------------*/
A:link {
    text-decoration: none;
	color: #2e6e9e;
	outline: none; 
}
A:visited {
    text-decoration: none;
	color: #2e6e9e;
	outline: none; 
}
A:hover {
    text-decoration: underline;
	outline: none; 
    color: #990000;
}
A:active {
    text-decoration: underline;
    color: #2e6e9e;
	outline: none; 
}

DIV.label {
	font-family: Segoe UI, Lucida Grande, tahoma, arial, sans-serif;	
    padding: 5px;
}

EM {
    font-family: "Tahoma";
    font-size: 11px;
    font-style: normal;
    color: #CC0000;
}

.tip {
    margin: 3px;
    font-family: "Tahoma";
    font-size: 11px;
    color: #444444;
}

.ttl {
    font-weight: bold;
    color: #333333;
}

.font-m {
    font-family: "Tahoma";
    font-size: 14px;
}

.wh {
    color: #FFFFFF;
}

.blue {
    color: #0000CC;
}

.green {
    color: #00AA00;
}

.red {
    color: #CC0000;
}

.orange {
    color: #CC9900;
}

.black {
    color: #000000;
}

.gray {
    color: #CCCCCC;
}

.darkgray {
    color: #999999;
}

.ajax-tip {
	width: 100%;
	text-align: center;
	margin-top: 100px;
	font-family: tahoma, arial, sans-serif;
	font-weight: bold;
	color: #CCCCCC;	
}

.ajax-error {
	width: 100%;
	text-align: center;
	margin-top: 100px;
	font-family: tahoma, arial, sans-serif;
	font-weight: bold;
	color: #8C0000;	
}

/*  jQuery Combo box 2.1.2 
--------------------------------------------*/
DIV.combobox {
	border: 0px; 
	padding: 0px; 
	width: 209px; 
	white-space: nowrap; 
	height: 25px 
}

DIV.combobox input {
	background-color: #fefefe;
    border-left: 1px solid #999999;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #E6E6E6;
    border-right: 1px solid #E6E6E6;	
	font-family: tahoma, verdana;
	font-size: 11px;	
	padding: 4px 5px 0 5px; 
	left: 0px; 
	margin: 0px;
	line-height: 19px; 
	vertical-align: middle; 
	width: 188px; 
	top: 0px; 
	height: 19px;
	cursor: default
}

DIV.combobox div.icon {
	border-top: 1px solid #999999;
    border-right: 1px solid #E6E6E6;	
	border-bottom: 1px solid #E6E6E6;    
	background: url(../img/web/combo-arrow.png) #fefefe no-repeat 0px 0px; 
	left: 188px; 
	width: 22px; 
	cursor: default; 
	top: 0px; 
	height: 23px; 
	border-left: none	
}

DIV.combobox div.list-wrapper {
	border: #777777 1px solid; 
	padding: 0px; 
	left: 0px; 
	margin: 0px; 
	width: 209px; 
	bottom: auto; 
	top: 26px; 
	background-color: #ffffff
}

DIV.combobox div.list-wrapper-up {
	border-right: #3a3c6c 1px solid; 
	border-top: #3a3c6c 1px solid; 
	border-left: #3a3c6c 1px solid; 
	bottom: 26px; 
	border-bottom: #3a3c6c 0px solid; 
	top: auto
}

DIV.combobox ul {
	margin: 0px; 
	padding: 0px; 
	list-style-type: none; 
	height: 200px; 
	text-align: left; 
}

DIV.combobox li {
	height: 18px;
	line-height: 18px;
	vertical-align: middle;
	padding: 2px 0 0 5px; 
	margin: 0px; 
	font-family: tahoma, verdana;
	font-size: 11px;
	color: #333333; 
	cursor: default; 
	background-color: #ffffff
}

DIV.combobox li.active {
	background-color: #3399ff;
}

DIV.combobox input.empty {
	color: gray;
}

