<?xml version="1.0" encoding="UTF-8"?>
<web-app id="touki" version="2.5" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_5.xsd">

	<display-name>touki</display-name>
	<context-param>
		<param-name>APP_NAME</param-name>
		<param-value>touki</param-value>
	</context-param>	
	<context-param>
		<param-name>PAGE_SIZE</param-name>
		<param-value>20</param-value>
	</context-param>
	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>touki.root</param-value>
	</context-param>
	
	<!-- Spring 配置文件 -->
	<context-param>  
		<param-name>contextConfigLocation</param-name>  
		<param-value>classpath*:app.context*.xml</param-value>  
	</context-param>	
	
	<!-- Character Encoding filter -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- Hibernate Open Session In View filter -->
	<filter>
		<filter-name>hibernateOpenSessionInViewFilter</filter-name>
		<filter-class>cn.touki.web.filter.OpenSessionInViewFilter</filter-class>
		<init-param>
			<param-name>excludeSuffixs</param-name>
			<param-value>js,css,jpg,gif,png</param-value>
		</init-param>
	</filter>
	
	<filter-mapping>
		<filter-name>hibernateOpenSessionInViewFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- Privilege -->
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>				
		
	<!--Spring ApplicationContext 载入 -->
	<listener>
		<listener-class>cn.touki.web.core.listener.InitListener</listener-class>
	</listener>
	
	<!-- Spring 刷新Introspector防止内存泄露 --> 
	<listener>
		<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener>
	
	<!-- DWR Servlet Configuration -->
	<servlet>
		<servlet-name>dwr-invoker</servlet-name>	
		<display-name>DWR Servlet</display-name>
		<servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
		<init-param>
			<param-name>debug</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>	
	
	<!-- Servlet 映射 -->
	<servlet>
		<servlet-name>IndexServlet</servlet-name>
		<display-name>indexServlet</display-name>
		<servlet-class>cn.touki.web.servlet.IndexServlet</servlet-class>
	</servlet>		
	<servlet-mapping>
		<servlet-name>IndexServlet</servlet-name>
		<url-pattern>/index.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<display-name>loginServlet</display-name>
		<servlet-class>cn.touki.web.servlet.cs.AdminLoginServlet</servlet-class>
	</servlet>		
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
		
	<servlet>
		<servlet-name>AdminServlet</servlet-name>
		<display-name>adminServlet</display-name>
		<servlet-class>cn.touki.web.servlet.cs.AdminServlet</servlet-class>
	</servlet>		
	<servlet-mapping>
		<servlet-name>AdminServlet</servlet-name>
		<url-pattern>/admin.do</url-pattern>
	</servlet-mapping>
		
	<!-- web -->
	<welcome-file-list>
		<welcome-file>index.do</welcome-file>
	</welcome-file-list>			
				
</web-app>
